src/Power Automate/Notificacao - Contribuicao Interdisciplinar de Documentos/Microsoft.Flow/flows/afff5f7b-5300-46dd-aa60-bf5efd5b46cb/definition.json
{"name":"61723ee8-0286-42dc-ad1c-161108b3b16f","id":"/providers/Microsoft.Flow/flows/61723ee8-0286-42dc-ad1c-161108b3b16f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Notificacao - Contribuicao Interdisciplinar de Documentos","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/754abb9d-e636-47dd-b406-0a8f58702e36/resourceGroups/6bd493a1286f4730995033029af22dde-00cd8c8a9e1940a39418d3899b01f667/providers/Microsoft.Logic/workflows/5a1972e0-24fd-4a3b-9b2a-382335855ca4-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"00cd8c8a-9e19-40a3-9418-d3899b01f667","type":"User","tenantId":"6bd493a1-286f-4730-9950-33029af22dde"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-07-17T14:06:43.1852992Z","connectionKeySavedTimeKey":"2025-07-17T14:06:43.1852992Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"timeZone":"E. South America Standard Time","schedule":{"hours":["9"],"minutes":[0],"weekDays":["Monday","Wednesday","Friday"]}},"metadata":{"operationMetadataId":"8f99620a-a339-43a6-8185-913f0b4fc5d0"},"type":"Recurrence"}},"actions":{"Condition_1":{"actions":{"Build_\"2_-_Em_Verificacao\"_and_\"5_-_Concluido\"":{"actions":{"List_rows_present_in_a_table":{"runAfter":{"Get_tables":["Succeeded"]},"metadata":{"01RUBG6D4FJAWHWBBQ5JBJDCMDX7FV36HD":"/0-GERENCIAMENTO/Planejamento/Verificacao Interdisciplinar/StatusVerificacao.xlsx","tableId":"@outputs('Get_tables')?['body/value'][0]['id']"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY","file":"@outputs('Get_file_metadata')?['body/Id']","table":"@outputs('Get_tables')?['body/value'][0]['id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":2000}}},"Apply_to_each_4":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Se_a_linha_não_estiver_vazia":{"actions":{"DEBUG_0":{"type":"Compose","inputs":{"Documento":"@item()?['Documento']","Planejador":"@item()?['Planejador']","Desenvolvedor":"@item()?['Desenvolvedor']","Contribuidores":"@item()?['Verificadores']","LinkArquivo":"@item()?['LinkArquivo']","LinkLoop":"@item()?['LinkLoop']"}},"Condition,_2_-_Em_Verificacao":{"actions":{"Append_to_array_variable":{"type":"AppendToArrayVariable","inputs":{"name":"2 - Em Verificacao","value":{"Documento":"@item()?['Documento']","Planejador":"@item()?['Planejador']","Desenvolvedor":"@item()?['Desenvolvedor']","Contribuidores":"@item()?['Verificadores']","LinkArquivo":"@item()?['LinkArquivo']","LinkLoop":"@item()?['LinkLoop']"}}}},"runAfter":{"DEBUG_0":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@item()?['Bucket']","2 - Em Verificacao"]}]},"type":"If"}},"else":{"actions":{}},"expression":{"and":[{"equals":["@empty(item()?['Documento'])","@false"]},{"equals":["@empty(item()?['Planejador'])","@false"]},{"equals":["@empty(item()?['Desenvolvedor'])","@false"]},{"equals":["@empty(item()?['Contribuidores'])","@false"]},{"equals":["@empty(item()?['Contribuidores'])","@false"]},{"equals":["@empty(item()?['LinkArquivo'])","@false"]},{"equals":["@empty(item()?['LinkLoop'])","@false"]}]},"type":"If"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach"},"Get_tables":{"runAfter":{"Get_file_metadata":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY","file":"@outputs('Get_file_metadata')?['body/Id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetTables"},"authentication":"@parameters('$authentication')"}},"Get_file_metadata":{"metadata":{"b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY.01RUBG6D3GA2YHBXMEGREY73PBP6QZM2XJ":"/0-GERENCIAMENTO/Planejamento/StatusVerificacao.xlsm","b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY.01RUBG6DZPPAOQAMFCDBGIVQLMQEMR2JMJ":"/0-GERENCIAMENTO/Planejamento/StatusVerificacao.xlsm"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY.01RUBG6DZPPAOQAMFCDBGIVQLMQEMR2JMJ"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileMetadata"},"authentication":"@parameters('$authentication')"}}},"type":"Scope"},"Condition":{"actions":{"DEBUG":{"type":"Compose","inputs":"@variables('2 - Em Verificacao')"},"Apply_to_each":{"foreach":"@variables('2 - Em Verificacao')","actions":{"Send_an_email_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@items('Apply_to_each')['Contribuidores']","emailMessage/Subject":"@{items('Apply_to_each')['Documento']} - [Contribuição]","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Prezados,</strong></b><br><br>Segue o link para contribuição:<br><a href=\"@{items('Apply_to_each')['LinkArquivo']}\" class=\"editor-link\"><br>@{items('Apply_to_each')['Documento']}<br></a><br>Contribua diretamente no arquivo online. Se preferir, é possível abrir no computador: <a href=\"https://brassbrasilprojetos-my.sharepoint.com/:v:/g/personal/dboliveira_brassbrasil_com_br/EQSr6JRjyYNIq32NKvETmukBMJHPICs-BaKOfmYjgA67Pg?referrer=Outlook.Desktop&amp;referrerScenario=email-linkwithembed\" class=\"editor-link\">Como editar online ou no PC</a></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Importante:</strong></b><br>Após finalizar, sinalize por e-mail e marque na lista do link a seguir: <a href=\"@{items('Apply_to_each')['LinkLoop']}\" class=\"editor-link\">Lista de Controle</a><br><br><b><strong class=\"editor-text-bold\">Importante:</strong></b><br>Para arquivos Word, o controle de alterações estará ativado. Basta editar normalmente e o Word registrará as mudanças: <a href=\"https://brassbrasilprojetos-my.sharepoint.com/:v:/g/personal/dboliveira_brassbrasil_com_br/EQSr6JRjyYNIq32NKvETmukBMJHPICs-BaKOfmYjgA67Pg?referrer=Outlook.Desktop&amp;referrerScenario=email-linkwithembed\" class=\"editor-link\">Instruções de Controle de Revisões<br></a></p>","emailMessage/Cc":"@{items('Apply_to_each')['Desenvolvedor']}; @{items('Apply_to_each')['Planejador']}","emailMessage/Bcc":"dboliveira@brassbrasil.com.br","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"DEBUG":["Succeeded"]},"metadata":{"operationMetadataId":"77d578e4-cd9b-4073-965f-8d54101d8058"},"type":"Foreach"}},"runAfter":{"Build_\"2_-_Em_Verificacao\"_and_\"5_-_Concluido\"":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@empty(variables('2 - Em Verificacao'))","@false"]}]},"type":"If"}},"runAfter":{"2_-_Em_Verificacao":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@contains('12345', string(dayOfWeek(addHours(utcNow(), -3))))","@true"]}]},"type":"If"},"2_-_Em_Verificacao":{"runAfter":{},"metadata":{"operationMetadataId":"4ab43e12-616b-40c5-9c0f-e68ec496f28a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"2 - Em Verificacao","type":"array"}]}}},"outputs":{},"description":"Fluxo para ler em uma planilha do excel quais os documentos em circulação e notificar os verificadores, os planejadores e os desenvolvedores."},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"c331046536804e49a75ab8386f08ca46","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness":{"connectionName":"37c8c4598d834a4ba8a758a685f66aae","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-5be2fb16-916d-4b4b-aacf-f904318e7211","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}