src/Power Automate/Notifica Verificacao Interdisciplinar de Documentos/Microsoft.Flow/flows/0c610e83-1ecf-4ddd-9a43-cb3962a03dec/definition.json
{"name":"5a1972e0-24fd-4a3b-9b2a-382335855ca4","id":"/providers/Microsoft.Flow/flows/5a1972e0-24fd-4a3b-9b2a-382335855ca4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Verificação Interdisciplinar de Documento","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"00cd8c8a-9e19-40a3-9418-d3899b01f667","type":"User","tenantId":"6bd493a1-286f-4730-9950-33029af22dde"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-29T14:38:05.3690442Z","connectionKeySavedTimeKey":"2024-07-29T14:38:05.3690442Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"E. South America Standard Time","schedule":{"hours":["9"],"minutes":[0]}},"metadata":{"operationMetadataId":"8f99620a-a339-43a6-8185-913f0b4fc5d0"},"type":"Recurrence"}},"actions":{"Destinatarios":{"runAfter":{"Contador":["Succeeded"]},"metadata":{"operationMetadataId":"4ab43e12-616b-40c5-9c0f-e68ec496f28a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Destinatarios","type":"array","value":[{"Documento":"BdB211806-AMPO-DF0005","DataLimite":"29/07/2024","Destinatarios":["apereira@brassbrasil.com.br","lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br","lamaral@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0006","DataLimite":"29/07/2024","Destinatarios":["apereira@brassbrasil.com.br","lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br","lamaral@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0007","DataLimite":"29/07/2024","Destinatarios":["apereira@brassbrasil.com.br","lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br","lamaral@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0008","DataLimite":"29/07/2024","Destinatarios":["apereira@brassbrasil.com.br","dlorenzato@brassbrasil.com.br","lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br","lamaral@brassbrasil.com.br"]},{"Documento":"BdB201459-1920-V-CP0001","DataLimite":"25/07/2024","Destinatarios":["hleite@brassbrasil.com.br","valmeida@brassbrasil.com.br"]},{"Documento":"BdB201459-1920-V-MC0001","DataLimite":"26/07/2024","Destinatarios":["hleite@brassbrasil.com.br","valmeida@brassbrasil.com.br","apereira@brassbrasil.com.br"]}]}]}},"Contador":{"runAfter":{"Name2Email":["Succeeded"]},"metadata":{"operationMetadataId":"6849ecd8-138c-41b8-8a00-4fbb91fd02b1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contador","type":"integer","value":0}]}},"Name2Email":{"runAfter":{},"metadata":{"operationMetadataId":"dde76fe9-b36c-4ede-8739-57aeeece9867"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Name2Email","type":"object","value":{"Diana Guy Lorenzato":"dlorenzato@brassbrasil.com.br","Lis Ottoni Lopes":"lottoni@brassbrasil.com.br","Vinicius Ferreira de Almeida":"valmeida@brassbrasil.com.br","Daniel Borges de Oliveira":"dboliveira@brassbrasil.com.br","Leandro de Oliveira do Amaral":"lamaral@brassbrasil.com.br"}}]}},"UNIQUE":{"runAfter":{"FLAT":["Succeeded"]},"metadata":{"operationMetadataId":"e92a1560-d74b-4f59-8d31-6883fe420f72"},"type":"Compose","inputs":"@union(outputs('FLAT'),outputs('FLAT'))"},"JSON":{"runAfter":{"Destinatarios":["Succeeded"]},"metadata":{"operationMetadataId":"b7c0d7d8-837d-4516-9f38-f5413e3950e5"},"type":"Compose","inputs":{"Root":{"Items":"@variables('Destinatarios')"}}},"FLAT":{"runAfter":{"JSON":["Succeeded"]},"metadata":{"operationMetadataId":"050e1863-85be-4c8f-883a-9a86c5de6fe2"},"type":"Compose","inputs":"@xpath(xml(outputs('JSON')), '//text()')"},"Condição":{"actions":{"1_=_Alertar_Todos;_2_=_Alerta_Somente_Um_2":{"actions":{"Aplicar_a_cada_5":{"foreach":"@variables('Destinatarios')","actions":{"Incrementar_variável_2":{"runAfter":{"Aplicar_a_cada_6":["Succeeded"]},"metadata":{"operationMetadataId":"f5ff795b-6529-4936-b0a5-f4831e00492a"},"type":"IncrementVariable","inputs":{"name":"Contador","value":1}},"Aplicar_a_cada_6":{"foreach":"@items('Aplicar_a_cada_5')['Destinatarios']","actions":{"Post_message_in_a_chat_or_channel_5":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":";","body/messageBody":"<p>Olá,</p><br><p>Estamos com o(s) documento(s)   em circulação interna no Elfa. Temos a data limite de  para finalizar a verificação. Poderia dar uma olhada? Obrigado.</p>\n<br>\n<a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\">Clique aqui para Verificar.</a>\n<br>\n<p><b>Para alinhamentos procure <a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\">Daniel B. Oliveira - Processos e Utilidades</a></b></p>\n<p><small>Clique no nome para enviar mensagem.</small></p>\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"bf74c0cb-1534-4427-bda7-2e624fbd81de"},"type":"Foreach"}},"metadata":{"operationMetadataId":"bb89cc82-48cf-42c9-be23-0971f44fd03c"},"type":"Foreach"}},"else":{"actions":{"Definir_variável":{"metadata":{"operationMetadataId":"18ff1af0-1f60-4f08-ae76-910a48b6c867"},"type":"SetVariable","inputs":{"name":"Contador","value":0}},"Aplicar_a_cada_3":{"foreach":"@variables('Destinatarios')[variables('Contador')]['Destinatarios']","actions":{"Post_message_in_a_chat_or_channel_2":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Aplicar_a_cada_3')};","body/messageBody":"<p>Olá,</p><br><p>Estamos com o(s) documento(s) @{variables('Destinatarios')[variables('Contador')]['Documento']} em circulação interna no Elfa. Temos a data limite de  @{variables('Destinatarios')[variables('Contador')]['DataLimite']} para finalizar a verificação. Poderia dar uma olhada? Obrigado.</p>\n<br>\n<a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\">Clique aqui para Verificar.</a>\n<br>\n<p><b>Para alinhamentos procure <a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\">Daniel B. Oliveira - Processos e Utilidades</a></b></p>\n<p><small>Clique no nome para enviar mensagem.</small></p>\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Definir_variável":["Succeeded"]},"metadata":{"operationMetadataId":"bf74c0cb-1534-4427-bda7-2e624fbd81de"},"type":"Foreach"}}},"expression":{"and":[{"equals":[1,1]}]},"metadata":{"operationMetadataId":"3c64396c-2a9c-430e-9158-bf1e45c45536"},"type":"If"},"Post_message_in_a_chat_or_channel_3":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"dboliveira@brassbrasil.com.br;","body/messageBody":"<p class=\"editor-paragraph\">Resumo dos documentos em circulação interna.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">@{variables('Destinatarios')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-1","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Select":["Succeeded"]},"else":{"actions":{}},"expression":{"equals":["@contains('12345', string(dayOfWeek(addHours(utcNow(), -3))))","@true"]},"metadata":{"operationMetadataId":"c35e2fdc-d704-462e-8af6-e905303492f4"},"type":"If"},"Select":{"runAfter":{"UNIQUE":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('UNIQUE')","select":{"Email":"@item()"}}}},"outputs":{}},"connectionReferences":{"shared_teams-2":{"connectionName":"shared-teams-f9c96112-7ace-4028-99c0-5fd743a5541a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_teams-1":{"connectionName":"shared-teams-d5ebffcb-3b47-49ff-a9e5-38d623286ebf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}