src/Power Automate/Notifica Verificacao Interdisciplinar de Documentos/Microsoft.Flow/flows/0c610e83-1ecf-4ddd-9a43-cb3962a03dec/definition.json
{"name":"5a1972e0-24fd-4a3b-9b2a-382335855ca4","id":"/providers/Microsoft.Flow/flows/5a1972e0-24fd-4a3b-9b2a-382335855ca4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Verificação Interdisciplinar de Documento","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"00cd8c8a-9e19-40a3-9418-d3899b01f667","type":"User","tenantId":"6bd493a1-286f-4730-9950-33029af22dde"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-03T11:30:27.959775Z","connectionKeySavedTimeKey":"2024-10-03T11:30:27.959775Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"E. South America Standard Time","schedule":{"hours":["9"],"minutes":[0]}},"metadata":{"operationMetadataId":"8f99620a-a339-43a6-8185-913f0b4fc5d0"},"type":"Recurrence"}},"actions":{"Destinatarios":{"runAfter":{"Contador":["Succeeded"]},"metadata":{"operationMetadataId":"4ab43e12-616b-40c5-9c0f-e68ec496f28a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Destinatarios","type":"array","value":[{"Documento":"BdB201460-0000-V-FE0001","DataInicio":"25/09/2024","DataLimite":"27/09/2024","Planejador":"cmoreira@brassbrasil.com.br","Destinatarios":["phmoreira@brassbrasil.com.br"]},{"Documento":"BdB201460-0000-V-FE0002","DataInicio":"25/09/2024","DataLimite":"27/09/2024","Planejador":"cmoreira@brassbrasil.com.br","Destinatarios":["phmoreira@brassbrasil.com.br"]},{"Documento":"BdB201460-0000-V-FE0003","DataInicio":"30/09/2024","DataLimite":"02/10/2024","Planejador":"cmoreira@brassbrasil.com.br","Destinatarios":["phmoreira@brassbrasil.com.br"]},{"Documento":"BdB201460-0000-V-FE0019","DataInicio":"30/09/2024","DataLimite":"02/10/2024","Planejador":"cmoreira@brassbrasil.com.br","Destinatarios":["pholiveira@brassbrasil.com.br","apereira@brassbrasil.com.br","phmoreira@brassbrasil.com.br"]},{"Documento":"BdB201460-0000-V-FE0020","DataInicio":"30/09/2024","DataLimite":"02/10/2024","Planejador":"cmoreira@brassbrasil.com.br","Destinatarios":["pholiveira@brassbrasil.com.br","apereira@brassbrasil.com.br","phmoreira@brassbrasil.com.br"]},{"Documento":"BdB201460-0000-V-FE0021","DataInicio":"30/09/2024","DataLimite":"02/10/2024","Planejador":"cmoreira@brassbrasil.com.br","Destinatarios":["pholiveira@brassbrasil.com.br","apereira@brassbrasil.com.br","phmoreira@brassbrasil.com.br"]},{"Documento":"BdB200301-0117-V-FD0008","DataInicio":"26/09/2024","DataLimite":"27/09/2024","Planejador":"mburrel@brassbrasil.com.br","Destinatarios":["lvilela@brassbrasil.com.br","phmoreira@brassbrasil.com.br"]}]}]}},"Contador":{"runAfter":{"Name2Email":["Succeeded"]},"metadata":{"operationMetadataId":"6849ecd8-138c-41b8-8a00-4fbb91fd02b1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contador","type":"integer","value":0}]}},"Name2Email":{"runAfter":{},"metadata":{"operationMetadataId":"dde76fe9-b36c-4ede-8739-57aeeece9867"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Name2Email","type":"object","value":{"Diana Guy Lorenzato":"dlorenzato@brassbrasil.com.br","Lis Ottoni Lopes":"lottoni@brassbrasil.com.br","Vinicius Ferreira de Almeida":"valmeida@brassbrasil.com.br","Daniel Borges de Oliveira":"dboliveira@brassbrasil.com.br","Leandro de Oliveira do Amaral":"lamaral@brassbrasil.com.br"}}]}},"Condição":{"actions":{"1_=_Alertar_Todos;_2_=_Alerta_Somente_Um_2":{"actions":{"Aplicar_a_cada_5":{"foreach":"@variables('Destinatarios')","actions":{"Aplicar_a_cada_6":{"foreach":"@items('Aplicar_a_cada_5')['Destinatarios']","actions":{"Post_message_in_a_chat_or_channel_5":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Aplicar_a_cada_6')","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">Poderia veriricar o documento<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['Documento']}<b><strong class=\"editor-text-bold\"> </strong></b>em circulação interna no Elfa?</p><p class=\"editor-paragraph\">O fluxo foi iniciado em<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataInicio']}<b><strong class=\"editor-text-bold\"> </strong></b>e temos a data limite de<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataLimite']}<b><strong class=\"editor-text-bold\"> </strong></b>para finalizar a verificação.</p><br><p class=\"editor-paragraph\">Obrigado.</p><p class=\"editor-paragraph\"><br><a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\" class=\"editor-link\"><u><span class=\"editor-text-underline\">Clique aqui para verificar.</span></u></a></p><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"bf74c0cb-1534-4427-bda7-2e624fbd81de"},"type":"Foreach"},"Post_message_in_a_chat_or_channel_5-copy":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Aplicar_a_cada_5')['Planejador']","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">Poderia me ajudar a cobrar o time a verificação do documento<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['Documento']}<b><strong class=\"editor-text-bold\"> </strong></b>em circulação interna no Elfa?</p><p class=\"editor-paragraph\">O fluxo foi iniciado em<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataInicio']}<b><strong class=\"editor-text-bold\"> </strong></b>e temos a data limite de<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataLimite']}<b><strong class=\"editor-text-bold\"> </strong></b>para finalizar a verificação.</p><br><p class=\"editor-paragraph\">Obrigado.</p><br><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p><br>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"bb89cc82-48cf-42c9-be23-0971f44fd03c"},"type":"Foreach"}},"else":{"actions":{"Definir_variável":{"metadata":{"operationMetadataId":"18ff1af0-1f60-4f08-ae76-910a48b6c867"},"type":"SetVariable","inputs":{"name":"Contador","value":3}},"Aplicar_a_cada_3":{"foreach":"@variables('Destinatarios')[variables('Contador')]['Destinatarios']","actions":{"Post_message_in_a_chat_or_channel_2":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Aplicar_a_cada_3')};","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">Poderia verificar o documento<b><strong class=\"editor-text-bold\"> </strong></b>@{variables('Destinatarios')[variables('Contador')]['Documento']}<b><strong class=\"editor-text-bold\"> </strong></b>em circulação interna no Elfa?</p><p class=\"editor-paragraph\">O fluxo foi iniciado em<b><strong class=\"editor-text-bold\"> </strong></b>@{variables('Destinatarios')[variables('Contador')]['DataInicio']}<b><strong class=\"editor-text-bold\"> </strong></b>e temos a data limite de<b><strong class=\"editor-text-bold\"> </strong></b>@{variables('Destinatarios')[variables('Contador')]['DataLimite']}<b><strong class=\"editor-text-bold\"> </strong></b>para finalizar a verificação.</p><br><p class=\"editor-paragraph\">Obrigado.</p><br><p class=\"editor-paragraph\"><a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\" class=\"editor-link\"><u><span class=\"editor-text-underline\">Clique aqui para verificar.</span></u></a></p><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Definir_variável":["Succeeded"]},"metadata":{"operationMetadataId":"bf74c0cb-1534-4427-bda7-2e624fbd81de"},"type":"Foreach"},"Post_message_in_a_chat_or_channel_5-copy-copy":{"runAfter":{"Definir_variável":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@variables('Destinatarios')[variables('Contador')]['Planejador']","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">Poderia me ajudar a cobrar o time a verificação do documento<b><strong class=\"editor-text-bold\"> </strong></b>@{variables('Destinatarios')[variables('Contador')]['Documento']}<b><strong class=\"editor-text-bold\"> </strong></b>em circulação interna no Elfa?</p><p class=\"editor-paragraph\">O fluxo foi iniciado em<b><strong class=\"editor-text-bold\"> </strong></b>@{variables('Destinatarios')[variables('Contador')]['DataInicio']}<b><strong class=\"editor-text-bold\"> </strong></b>e temos a data limite de<b><strong class=\"editor-text-bold\"> </strong></b>@{variables('Destinatarios')[variables('Contador')]['DataLimite']}<b><strong class=\"editor-text-bold\"> </strong></b>para finalizar a verificação.</p><br><p class=\"editor-paragraph\">Obrigado.</p><br><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p><br>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":[1,1]}]},"metadata":{"operationMetadataId":"3c64396c-2a9c-430e-9158-bf1e45c45536"},"type":"If"},"Post_message_in_a_chat_or_channel_3":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"dboliveira@brassbrasil.com.br;","body/messageBody":"<p class=\"editor-paragraph\">Resumo dos documentos em circulação interna.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">@{body('Create_HTML_table')}</p><br><p class=\"editor-paragraph\"></p><br>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-1","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table":{"type":"Table","inputs":{"from":"@variables('Destinatarios')","format":"HTML"}}},"runAfter":{"Select1":["Succeeded"]},"else":{"actions":{}},"expression":{"equals":["@contains('12345', string(dayOfWeek(addHours(utcNow(), -3))))","@true"]},"metadata":{"operationMetadataId":"c35e2fdc-d704-462e-8af6-e905303492f4"},"type":"If"},"Select1":{"runAfter":{"Destinatarios":["Succeeded"]},"type":"Select","inputs":{"from":"@variables('Destinatarios')","select":{"Destinatarios":"@item()['Destinatarios']"}}}},"outputs":{}},"connectionReferences":{"shared_teams-2":{"connectionName":"shared-teams-f9c96112-7ace-4028-99c0-5fd743a5541a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_teams-1":{"connectionName":"shared-teams-d5ebffcb-3b47-49ff-a9e5-38d623286ebf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}