src/Power Automate/Notifica Verificacao Interdisciplinar de Documentos/Microsoft.Flow/flows/0c610e83-1ecf-4ddd-9a43-cb3962a03dec/definition.json
{"name":"5a1972e0-24fd-4a3b-9b2a-382335855ca4","id":"/providers/Microsoft.Flow/flows/5a1972e0-24fd-4a3b-9b2a-382335855ca4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Verificação Interdisciplinar de Documento","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"00cd8c8a-9e19-40a3-9418-d3899b01f667","type":"User","tenantId":"6bd493a1-286f-4730-9950-33029af22dde"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-11T11:47:22.8586235Z","connectionKeySavedTimeKey":"2024-10-11T11:47:22.8586235Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"E. South America Standard Time","schedule":{"hours":["9"],"minutes":[0]}},"metadata":{"operationMetadataId":"8f99620a-a339-43a6-8185-913f0b4fc5d0"},"type":"Recurrence"}},"actions":{"Destinatarios":{"runAfter":{"Contador":["Succeeded"]},"metadata":{"operationMetadataId":"4ab43e12-616b-40c5-9c0f-e68ec496f28a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Destinatarios","type":"array","value":[{"Documento":"BdB211806-AMPO-DF0001","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0002","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0004","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0005","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0006","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0007","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0008","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0009","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0010","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0011","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0012","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0013","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0014","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0015","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0016","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0017","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0018","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0019","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB211806-AMPO-DF0020","DataInicio":"08/10/2024","DataLimite":"10/10/2024","Planejador":"nsantos@brassbrasil.com.br","Desenvolvedor":"dboliveira@brassbrasil.com.br","Verificadores":["lottoni@brassbrasil.com.br","dboliveira@brassbrasil.com.br"]},{"Documento":"BdB201460-0000-V-FE0022","DataInicio":"09/10/2024","DataLimite":"11/10/2024","Planejador":"cmoreira@brassbrasil.com.br","Desenvolvedor":"lsantana@brassbrasil.com.br","Verificadores":["phmoreira@brassbrasil.com.br","lgodinho@brassbrasil.com.br"]},{"Documento":"BdB201460-0000-V-FE0023","DataInicio":"09/10/2024","DataLimite":"11/10/2024","Planejador":"cmoreira@brassbrasil.com.br","Desenvolvedor":"lsantana@brassbrasil.com.br","Verificadores":["phmoreira@brassbrasil.com.br","lgodinho@brassbrasil.com.br"]},{"Documento":"BdB201460-0000-V-FE0086","DataInicio":"09/10/2024","DataLimite":"11/10/2024","Planejador":"cmoreira@brassbrasil.com.br","Desenvolvedor":"lsantana@brassbrasil.com.br","Verificadores":["phmoreira@brassbrasil.com.br","lgodinho@brassbrasil.com.br"]}]}]}},"Contador":{"runAfter":{"Name2Email":["Succeeded"]},"metadata":{"operationMetadataId":"6849ecd8-138c-41b8-8a00-4fbb91fd02b1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contador","type":"integer","value":0}]}},"Name2Email":{"runAfter":{},"metadata":{"operationMetadataId":"dde76fe9-b36c-4ede-8739-57aeeece9867"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Name2Email","type":"object","value":{"Diana Guy Lorenzato":"dlorenzato@brassbrasil.com.br","Lis Ottoni Lopes":"lottoni@brassbrasil.com.br","Vinicius Ferreira de Almeida":"valmeida@brassbrasil.com.br","Daniel Borges de Oliveira":"dboliveira@brassbrasil.com.br","Leandro de Oliveira do Amaral":"lamaral@brassbrasil.com.br"}}]}},"Condição":{"actions":{"1_=_Alertar_Todos;_2_=_Alerta_Somente_Um_2":{"actions":{"Notifica_Grupo":{"actions":{"Create_HTML_table":{"type":"Table","inputs":{"from":"@variables('Destinatarios')","format":"HTML"}},"Post_message_in_a_chat_or_channel_3":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/recipient":"19:25493363903e415990da18d4bbbdae9d@thread.v2","body/messageBody":"<p class=\"editor-paragraph\">Resumo dos documentos em circulação interna.</p><br><p class=\"editor-paragraph\">@{body('Create_HTML_table')}</p><br><p class=\"editor-paragraph\">Notificação enviada para os verificadores no dia<b><strong class=\"editor-text-bold\"> </strong></b>@{utcNow()}.</p><br>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-1","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"type":"Scope"},"Notifica_Verificadores":{"actions":{"Apply_to_each_-_Verificadores":{"foreach":"@variables('varVerificadoresUnion')","actions":{"Apply_to_each_-_Destinatarios":{"foreach":"@variables('Destinatarios')","actions":{"Condition":{"actions":{"Append_to_array_variable":{"type":"AppendToArrayVariable","inputs":{"name":"varOutput","value":{"Documento":"@items('Apply_to_each_-_Destinatarios')['Documento']","DataInicio":"@items('Apply_to_each_-_Destinatarios')['DataInicio']","DataLimite":"@items('Apply_to_each_-_Destinatarios')['DataLimite']"}}}},"else":{"actions":{}},"expression":{"and":[{"contains":["@items('Apply_to_each_-_Destinatarios')['Verificadores']","@items('Apply_to_each_-_Verificadores')"]}]},"type":"If"}},"runAfter":{"Set_variable_-_varOutput":["Succeeded"]},"type":"Foreach"},"Set_variable_-_varOutput":{"type":"SetVariable","inputs":{"name":"varOutput","value":[]}},"Notifica_os_Verificadores-copy":{"runAfter":{"Create_HTML_table-copy_1":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Apply_to_each_-_Verificadores')","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">Temos os documentos listados na tabela em circulação interna no Elfa.</p><p class=\"editor-paragraph\">Poderia verificar?</p><p class=\"editor-paragraph\"><br>@{items('Apply_to_each_-_Verificadores')}</p><p class=\"editor-paragraph\">@{body('Create_HTML_table-copy_1')}</p><br><p class=\"editor-paragraph\">Obrigado.</p><p class=\"editor-paragraph\"><br><a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\" class=\"editor-link\"><u><span class=\"editor-text-underline\">Clique aqui para verificar.</span></u></a></p><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table-copy_1":{"runAfter":{"Apply_to_each_-_Destinatarios":["Succeeded"]},"type":"Table","inputs":{"from":"@variables('varOutput')","format":"HTML","columns":[{"header":"Documento","value":"@item()['Documento']"},{"header":"DataInicio","value":"@item()['DataInicio']"},{"header":"DataLimite","value":"@item()['DataLimite']"}]}}},"type":"Foreach"}},"type":"Scope"},"Notifica_Planejadores":{"actions":{"Apply_to_each_-_Planejadores":{"foreach":"@variables('varPlanejadoresUnion')","actions":{"Apply_to_each_-_Destinatarios_1":{"foreach":"@variables('Destinatarios')","actions":{"Condition_1":{"actions":{"Append_to_array_variable_1":{"type":"AppendToArrayVariable","inputs":{"name":"varPlanejadoresTemp","value":{"Documento":"@items('Apply_to_each_-_Destinatarios_1')['Documento']","Verificadores":"@items('Apply_to_each_-_Destinatarios_1')['Verificadores']","DataInicio":"@items('Apply_to_each_-_Destinatarios_1')['DataInicio']","DataLimite":"@items('Apply_to_each_-_Destinatarios_1')['DataLimite']"}}}},"else":{"actions":{}},"expression":{"and":[{"contains":["@items('Apply_to_each_-_Destinatarios_1')['Planejador']","@items('Apply_to_each_-_Planejadores')"]}]},"type":"If"}},"runAfter":{"Set_variable_-_varTemp_1":["Succeeded"]},"type":"Foreach"},"Set_variable_-_varTemp_1":{"type":"SetVariable","inputs":{"name":"varPlanejadoresTemp","value":[]}},"Notifica_os_Verificadores-copy_1":{"runAfter":{"Create_HTML_table-copy_2":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Apply_to_each_-_Planejadores')","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">Temos os documentos listados na tabela em circulação interna no Elfa.</p><p class=\"editor-paragraph\">Poderia me a ajudar a cobrar o time de verificação?<br><br>@{body('Create_HTML_table-copy_2')}</p><br><p class=\"editor-paragraph\">Obrigado.</p><p class=\"editor-paragraph\"><br><a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\" class=\"editor-link\"><u><span class=\"editor-text-underline\">Clique aqui para verificar.</span></u></a></p><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table-copy_2":{"runAfter":{"Apply_to_each_-_Destinatarios_1":["Succeeded"]},"type":"Table","inputs":{"from":"@variables('varPlanejadoresTemp')","format":"HTML","columns":[{"header":"Documento","value":"@item()['Documento']"},{"header":"DataInicio","value":"@item()['DataInicio']"},{"header":"DataLimite","value":"@item()['DataLimite']"},{"header":"Verificadores","value":"@replace(\n\treplace(\n\t\treplace(\n\t\t\treplace(\n\t\t\t\tstring(\n\t\t\t\t\titem()['Verificadores']\n\t\t\t\t),\n\t\t\t\t'[',\n\t\t\t\t''\n\t\t\t),\n\t\t\t']',\n\t\t\t''\n\t\t),\n\t\t'\",\"',\n\t\t', '\n\t),\n\t'\"',\n\t''\n)"}]}}},"type":"Foreach"}},"type":"Scope"}},"else":{"actions":{"Aplicar_a_cada_5":{"foreach":"@variables('Destinatarios')","actions":{"Aplicar_a_cada_6":{"foreach":"@items('Aplicar_a_cada_5')['Verificadores']","actions":{"Notifica_os_Verificadores":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Aplicar_a_cada_6')","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">Poderia veriricar o documento<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['Documento']}<b><strong class=\"editor-text-bold\"> </strong></b>em circulação interna no Elfa?</p><p class=\"editor-paragraph\">O fluxo foi iniciado em<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataInicio']}<b><strong class=\"editor-text-bold\"> </strong></b>e temos a data limite de<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataLimite']}<b><strong class=\"editor-text-bold\"> </strong></b>para finalizar a verificação.</p><br><p class=\"editor-paragraph\">Obrigado.</p><p class=\"editor-paragraph\"><br><a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\" class=\"editor-link\"><u><span class=\"editor-text-underline\">Clique aqui para verificar.</span></u></a></p><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"bf74c0cb-1534-4427-bda7-2e624fbd81de"},"type":"Foreach"},"Notifica_o_Planejador":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Aplicar_a_cada_5')['Planejador']","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">Poderia me ajudar a cobrar o time a verificação do documento<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['Documento']}<b><strong class=\"editor-text-bold\"> </strong></b>em circulação interna no Elfa?</p><p class=\"editor-paragraph\">O fluxo foi iniciado em<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataInicio']}<b><strong class=\"editor-text-bold\"> </strong></b>e temos a data limite de<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataLimite']}<b><strong class=\"editor-text-bold\"> </strong></b>para finalizar a verificação.</p><br><p class=\"editor-paragraph\">Obrigado.</p><br><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p><br>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Notifica_o_Desenvolvedor":{"runAfter":{"Create_HTML_table-copy-copy":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Aplicar_a_cada_5')['Desenvolvedor']","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">O documento<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['Documento']}<b><strong class=\"editor-text-bold\"> </strong></b>que você desenvolveu está circulação interna no Elfa. Segue resumo das pessoas que ainda faltam verificar:<br><br>@{body('Create_HTML_table-copy-copy')}</p><br><p class=\"editor-paragraph\">O fluxo foi iniciado em<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataInicio']}<b><strong class=\"editor-text-bold\"> </strong></b>e temos a data limite de<b><strong class=\"editor-text-bold\"> </strong></b>@{items('Aplicar_a_cada_5')['DataLimite']}<b><strong class=\"editor-text-bold\"> </strong></b>para finalizar a verificação.</p><p class=\"editor-paragraph\">Essa mensagem é para somente atualizar o status do documento e não necessita de nenhuma resposta ou ação.</p><br><p class=\"editor-paragraph\">Obrigado.</p><br><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p><br>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table-copy-copy":{"type":"Table","inputs":{"from":"@items('Aplicar_a_cada_5')['Verificadores']","format":"HTML","columns":[{"header":"Verificador","value":"@item()"}]}}},"metadata":{"operationMetadataId":"bb89cc82-48cf-42c9-be23-0971f44fd03c"},"type":"Foreach"}}},"expression":{"and":[{"equals":[1,1]}]},"metadata":{"operationMetadataId":"3c64396c-2a9c-430e-9158-bf1e45c45536"},"type":"If"}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@contains('12345', string(dayOfWeek(addHours(utcNow(), -3))))","@true"]}]},"metadata":{"operationMetadataId":"c35e2fdc-d704-462e-8af6-e905303492f4"},"type":"If"},"varDocumentos":{"runAfter":{"Destinatarios":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDocumentos","type":"array"}]}},"varDataInicio":{"runAfter":{"varDocumentos":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDataInicio","type":"array"}]}},"varDataLimite":{"runAfter":{"varDataInicio":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDataLimite","type":"array"}]}},"varPlanejador":{"runAfter":{"varDataLimite":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPlanejador","type":"array"}]}},"varDesenvolvedor":{"runAfter":{"varPlanejador":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDesenvolvedor","type":"array"}]}},"Apply_to_each":{"foreach":"@variables('Destinatarios')","actions":{"Append_to_array_-_varDocumentos_":{"type":"AppendToArrayVariable","inputs":{"name":"varDocumentos","value":"@items('Apply_to_each')['Documento']"}},"Append_to_array_variable_-_varDataInicio":{"runAfter":{"Append_to_array_-_varDocumentos_":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"varDataInicio","value":"@items('Apply_to_each')['DataInicio']"}},"Append_to_array_variable_-_varDataLimite":{"runAfter":{"Append_to_array_variable_-_varDataInicio":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"varDataLimite","value":"@items('Apply_to_each')['DataLimite']"}},"Append_to_array_variable_-_varPlanejador":{"runAfter":{"Append_to_array_variable_-_varDataLimite":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"varPlanejador","value":"@items('Apply_to_each')['Planejador']"}},"Append_to_array_variable_-_varDesenvolvedor":{"runAfter":{"Append_to_array_variable_-_varPlanejador":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"varDesenvolvedor","value":"@items('Apply_to_each')['Desenvolvedor']"}},"Apply_to_each_1":{"foreach":"@items('Apply_to_each')['Verificadores']","actions":{"Append_to_array_variable_-_varVerificadores":{"type":"AppendToArrayVariable","inputs":{"name":"varVerificadores","value":"@items('Apply_to_each_1')"}}},"runAfter":{"Append_to_array_variable_-_varDesenvolvedor":["Succeeded"]},"type":"Foreach"}},"runAfter":{"varVerificadores":["Succeeded"]},"type":"Foreach"},"varVerificadores":{"runAfter":{"varDesenvolvedor":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varVerificadores","type":"array"}]}},"varOutput":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varOutput","type":"array"}]}},"Compose":{"runAfter":{"varPlanejadoresTemp":["Succeeded"]},"type":"Compose","inputs":{"Documento":"@variables('varDocumentos')","DataInicio":"@variables('varDataInicio')","DataLimite":"@variables('varDataLimite')","Planejador":"@variables('varPlanejador')","Desenvolvedor":"@variables('varDesenvolvedor')","Verificadores":"@variables('varVerificadores')"}},"varVerificadoresUnion":{"runAfter":{"varOutput":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varVerificadoresUnion","type":"array","value":"@union(variables('varVerificadores'),variables('varVerificadores'))"}]}},"varPlanejadoresUnion":{"runAfter":{"varVerificadoresUnion":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPlanejadoresUnion","type":"array","value":"@union(variables('varPlanejador'),variables('varPlanejador'))"}]}},"varPlanejadoresTemp":{"runAfter":{"varPlanejadoresUnion":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPlanejadoresTemp","type":"array"}]}}},"outputs":{}},"connectionReferences":{"shared_teams-1":{"connectionName":"shared-teams-d5ebffcb-3b47-49ff-a9e5-38d623286ebf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_teams-2":{"connectionName":"shared-teams-f9c96112-7ace-4028-99c0-5fd743a5541a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}