src/Power Automate/Notificacao - Verificacao Interdisciplinar de Documentos/Microsoft.Flow/flows/0c610e83-1ecf-4ddd-9a43-cb3962a03dec/definition.json
{"name":"5a1972e0-24fd-4a3b-9b2a-382335855ca4","id":"/providers/Microsoft.Flow/flows/5a1972e0-24fd-4a3b-9b2a-382335855ca4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Notificacoes - Verificação Interdisciplinar de Documentos (Elfa)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/754abb9d-e636-47dd-b406-0a8f58702e36/resourceGroups/6bd493a1286f4730995033029af22dde-00cd8c8a9e1940a39418d3899b01f667/providers/Microsoft.Logic/workflows/5a1972e0-24fd-4a3b-9b2a-382335855ca4-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"00cd8c8a-9e19-40a3-9418-d3899b01f667","type":"User","tenantId":"6bd493a1-286f-4730-9950-33029af22dde"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-07-17T14:07:40.677096Z","connectionKeySavedTimeKey":"2025-07-17T14:07:40.677096Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"timeZone":"E. South America Standard Time","schedule":{"hours":["9"],"minutes":[0],"weekDays":["Monday","Tuesday","Wednesday","Thursday","Friday"]}},"metadata":{"operationMetadataId":"8f99620a-a339-43a6-8185-913f0b4fc5d0"},"type":"Recurrence"}},"actions":{"Contador":{"runAfter":{"Name2Email":["Succeeded"]},"metadata":{"operationMetadataId":"6849ecd8-138c-41b8-8a00-4fbb91fd02b1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contador","type":"array"}]}},"Name2Email":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"dde76fe9-b36c-4ede-8739-57aeeece9867"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Name2Email","type":"object","value":{"Diana Guy Lorenzato":"dlorenzato@brassbrasil.com.br","Lis Ottoni Lopes":"lottoni@brassbrasil.com.br","Vinicius Ferreira de Almeida":"valmeida@brassbrasil.com.br","Daniel Borges de Oliveira":"dboliveira@brassbrasil.com.br","Leandro de Oliveira do Amaral":"lamaral@brassbrasil.com.br"}}]}},"Condição":{"actions":{"Contador_Not_Empty":{"actions":{"Notificação_de_Verificação":{"actions":{"Condition_6":{"actions":{"Notifica_Grupo":{"actions":{"Create_HTML_table":{"metadata":{"operationMetadataId":"a6637e84-df3b-40fe-b52b-5007848a6393"},"type":"Table","inputs":{"from":"@variables('2 - Em Verificacao')","format":"HTML","columns":[{"header":"Documento","value":"@item()['Documento']"},{"header":"DataInicio","value":"@formatDateTime(item()['DataInicio'],'yyyy/dd/MM')"},{"header":"DataLimite","value":"@formatDateTime(item()['DataLimite'],'yyyy/dd/MM')"},{"header":"Planejador","value":"@item()['Planejador']"},{"header":"Desenvolvedor","value":"@item()['Desenvolvedor']"},{"header":"Verificadores Pendentes","value":"@replace(\n\treplace(\n\t\treplace(\n\t\t\treplace(\n\t\t\t\tstring(\n\t\t\t\t\titem()['Verificadores']\n\t\t\t\t),\n\t\t\t\t'[',\n\t\t\t\t''\n\t\t\t),\n\t\t\t']',\n\t\t\t''\n\t\t),\n\t\t'\",\"',\n\t\t', '\n\t),\n\t'\"',\n\t''\n)"}]}},"Post_message_in_a_chat_or_channel_3":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/recipient":"19:25493363903e415990da18d4bbbdae9d@thread.v2","body/messageBody":"<p class=\"editor-paragraph\">Resumo dos documentos em circulação interna.</p><br><p class=\"editor-paragraph\">@{body('Create_HTML_table')}</p><br><p class=\"editor-paragraph\"><small>Mensagem enviada em @{convertFromUtc(utcNow(),'E. South America Standard Time','dd-MM-yyyy HH:mm:ss tt')}</small></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-1","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"da3ce0df-0bdc-4fde-ad2a-fd6adb158d33"},"type":"Scope"},"Notifica_Verificadores":{"actions":{"Apply_to_each_-_Verificadores":{"foreach":"@variables('varVerificadoresUnion')","actions":{"Apply_to_each_-_Destinatarios_0":{"foreach":"@variables('2 - Em Verificacao')","actions":{"Condition":{"actions":{"Append_to_array_variable_-_varOutput":{"metadata":{"operationMetadataId":"8f84936a-eedb-4c0f-8fb9-d5ee8a9d33da"},"type":"AppendToArrayVariable","inputs":{"name":"varOutput","value":{"Documento":"@items('Apply_to_each_-_Destinatarios_0')['Documento']","DataInicio":"@formatDateTime(items('Apply_to_each_-_Destinatarios_0')['DataInicio'],'yyyy/dd/MM')","DataLimite":"@formatDateTime(items('Apply_to_each_-_Destinatarios_0')['DataLimite'],'yyyy/dd/MM')"}}}},"else":{"actions":{}},"expression":{"and":[{"contains":["@items('Apply_to_each_-_Destinatarios_0')['Verificadores']","@items('Apply_to_each_-_Verificadores')"]}]},"metadata":{"operationMetadataId":"ee9060e2-4940-4b4f-b4de-9bab9930044c"},"type":"If"}},"runAfter":{"Set_variable_-_varOutput":["Succeeded"]},"metadata":{"operationMetadataId":"fb693dea-2568-47bd-9204-93fe63e7a9eb"},"type":"Foreach"},"Set_variable_-_varOutput":{"metadata":{"operationMetadataId":"94f6141d-b30b-46f5-849e-42f8d611ca3d"},"type":"SetVariable","inputs":{"name":"varOutput","value":[]}},"Notifica_os_Verificadores-copy":{"runAfter":{"Create_HTML_table-copy_1":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Apply_to_each_-_Verificadores')","body/messageBody":"<p class=\"editor-paragraph\">Olá,</p><br><p class=\"editor-paragraph\">Temos os documentos listados na tabela em circulação interna no Elfa.</p><p class=\"editor-paragraph\">Poderia verificar?</p><br><p class=\"editor-paragraph\">@{body('Create_HTML_table-copy_1')}</p><br><p class=\"editor-paragraph\">Para acessar os arquivos, verifique nosso Onedrive no link a seguir: &lt;a href=\"https://brassbrasilprojetos.sharepoint.com/:f:/s/Sistemasdeutilidades/EvZoZwdfsH9FjCL2kwpYv_kBqwBCmGD1sqYaKeeuRzkj4g\" class=\"editor-link\"&gt;Onedrive&lt;/a&gt;.</p><br><p class=\"editor-paragraph\">Obrigado.</p><p class=\"editor-paragraph\"><br><a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\" class=\"editor-link\"><u><span class=\"editor-text-underline\">Clique aqui para verificar.</span></u></a></p><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table-copy_1":{"runAfter":{"Apply_to_each_-_Destinatarios_0":["Succeeded"]},"metadata":{"operationMetadataId":"f7ca236c-eeea-4a04-b056-6115b3610180"},"type":"Table","inputs":{"from":"@variables('varOutput')","format":"HTML","columns":[{"header":"Documento","value":"@item()['Documento']"},{"header":"Data de Inicio da Verificação ","value":"@item()['DataInicio']"},{"header":"Data Limite da Verificação","value":"@item()['DataLimite']"}]}}},"metadata":{"operationMetadataId":"d329b307-77b9-45bf-8d30-be237c07d75d"},"type":"Foreach"}},"metadata":{"operationMetadataId":"9110ff17-821c-4057-9d7c-e252f9f2fbc0"},"type":"Scope"},"Notifica_Desenvolvedores":{"actions":{"Apply_to_each_-_Desenvolvedores":{"foreach":"@variables('varDesenvolvedoresUnion')","actions":{"Apply_to_each_-_Destinatarios_1":{"foreach":"@variables('2 - Em Verificacao')","actions":{"Condition_1":{"actions":{"Append_to_array_variable_-_varDesenvolvedoresTemp":{"metadata":{"operationMetadataId":"a6358021-df60-4433-8676-17c24ba2c220"},"type":"AppendToArrayVariable","inputs":{"name":"varDesenvolvedoresTemp","value":{"Documento":"@items('Apply_to_each_-_Destinatarios_1')['Documento']","Verificadores":"@items('Apply_to_each_-_Destinatarios_1')['Verificadores']","DataInicio":"@formatDateTime(items('Apply_to_each_-_Destinatarios_1')['DataInicio'],'yyyy/dd/MM')","DataLimite":"@formatDateTime(items('Apply_to_each_-_Destinatarios_1')['DataLimite'],'yyyy/dd/MM')"}}}},"else":{"actions":{}},"expression":{"and":[{"contains":["@items('Apply_to_each_-_Destinatarios_1')['Desenvolvedor']","@items('Apply_to_each_-_Desenvolvedores')"]}]},"metadata":{"operationMetadataId":"6b913425-7b57-434e-96fa-bb0d30510ef2"},"type":"If"}},"runAfter":{"Set_variable_-_varDesenvolvedoresTemp":["Succeeded"]},"metadata":{"operationMetadataId":"ef18b40a-09d9-4c3d-adba-a9e0e50eb529"},"type":"Foreach"},"Set_variable_-_varDesenvolvedoresTemp":{"metadata":{"operationMetadataId":"c4338ab2-08dc-48d5-9f36-5013a8fef8aa"},"type":"SetVariable","inputs":{"name":"varDesenvolvedoresTemp","value":[]}},"Notifica_os_Verificadores-copy_1":{"runAfter":{"Create_HTML_table-copy_2":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Apply_to_each_-_Desenvolvedores')","body/messageBody":"<p class=\"editor-paragraph\">Olá,<br><br>Os documentos listados na tabela foram desenvolvidos por você e estão em circulação interna no Elfa.<br>Segue resumo das pessoas que ainda faltam verificar:<br><br>@{body('Create_HTML_table-copy_2')}<br><br>Essa mensagem é para somente atualizar o status do documento e não necessita de nenhuma resposta ou ação.<br><br>Obrigado.</p><p class=\"editor-paragraph\"><br><a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\" class=\"editor-link\"><u><span class=\"editor-text-underline\">Clique aqui para verificar.</span></u></a></p><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table-copy_2":{"runAfter":{"Apply_to_each_-_Destinatarios_1":["Succeeded"]},"metadata":{"operationMetadataId":"75951b72-f1b6-4612-adba-13ac41316fde"},"type":"Table","inputs":{"from":"@variables('varDesenvolvedoresTemp')","format":"HTML","columns":[{"header":"Documento","value":"@item()['Documento']"},{"header":"Data de Inicio da Verificação ","value":"@item()['DataInicio']"},{"header":"Data Limite da Verificação","value":"@item()['DataLimite']"},{"header":"Verificadores Pendentes","value":"@replace(\n\treplace(\n\t\treplace(\n\t\t\treplace(\n\t\t\t\tstring(\n\t\t\t\t\titem()['Verificadores']\n\t\t\t\t),\n\t\t\t\t'[',\n\t\t\t\t''\n\t\t\t),\n\t\t\t']',\n\t\t\t''\n\t\t),\n\t\t'\",\"',\n\t\t', '\n\t),\n\t'\"',\n\t''\n)"}]}}},"metadata":{"operationMetadataId":"ac3bef65-5b95-4573-aca5-b010cd44d606"},"type":"Foreach"}},"metadata":{"operationMetadataId":"76539d8f-dece-4167-b879-2fecebf2d870"},"type":"Scope"},"Notifica_Planejadores":{"actions":{"Apply_to_each_-_Planejadores":{"foreach":"@variables('varPlanejadoresUnion')","actions":{"Apply_to_each_-_Destinatarios_2":{"foreach":"@variables('2 - Em Verificacao')","actions":{"Condition_2":{"actions":{"Append_to_array_variable_-_varPlanejadoresTemp":{"metadata":{"operationMetadataId":"a6358021-df60-4433-8676-17c24ba2c220"},"type":"AppendToArrayVariable","inputs":{"name":"varPlanejadoresTemp","value":{"Documento":"@items('Apply_to_each_-_Destinatarios_2')['Documento']","Verificadores":"@items('Apply_to_each_-_Destinatarios_2')['Verificadores']","DataInicio":"@formatDateTime(items('Apply_to_each_-_Destinatarios_2')['DataInicio'],'yyyy/dd/MM')","DataLimite":"@formatDateTime(items('Apply_to_each_-_Destinatarios_2')['DataLimite'],'yyyy/dd/MM')"}}}},"else":{"actions":{}},"expression":{"and":[{"contains":["@items('Apply_to_each_-_Destinatarios_2')['Planejador']","@items('Apply_to_each_-_Planejadores')"]}]},"metadata":{"operationMetadataId":"6b913425-7b57-434e-96fa-bb0d30510ef2"},"type":"If"}},"runAfter":{"Set_variable_-_'varPlanejadoresTemp":["Succeeded"]},"metadata":{"operationMetadataId":"ef18b40a-09d9-4c3d-adba-a9e0e50eb529"},"type":"Foreach"},"Set_variable_-_'varPlanejadoresTemp":{"metadata":{"operationMetadataId":"c4338ab2-08dc-48d5-9f36-5013a8fef8aa"},"type":"SetVariable","inputs":{"name":"varPlanejadoresTemp","value":[]}},"Notifica_os_Verificadores-copy_2":{"runAfter":{"Create_HTML_table-copy_3":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Apply_to_each_-_Planejadores')","body/messageBody":"<p class=\"editor-paragraph\">Olá,<br><br>Os documentos listados na tabela foram desenvolvidor por você e estão em circulação interna no Elfa.<br>Segue resumo das pessoas que ainda faltam verificar:<br><br>@{body('Create_HTML_table-copy_3')}<br><br>Essa mensagem é para somente atualizar o status do documento e não necessita de nenhuma resposta ou ação.<br><br>Obrigado.</p><p class=\"editor-paragraph\"><br><a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\" class=\"editor-link\"><u><span class=\"editor-text-underline\">Clique aqui para verificar.</span></u></a></p><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table-copy_3":{"runAfter":{"Apply_to_each_-_Destinatarios_2":["Succeeded"]},"metadata":{"operationMetadataId":"75951b72-f1b6-4612-adba-13ac41316fde"},"type":"Table","inputs":{"from":"@variables('varPlanejadoresTemp')","format":"HTML","columns":[{"header":"Documento","value":"@item()['Documento']"},{"header":"Data de Inicio da Verificação ","value":"@item()['DataInicio']"},{"header":"Data Limite da Verificação","value":"@item()['DataLimite']"},{"header":"Verificadores ","value":"@replace(\n\treplace(\n\t\treplace(\n\t\t\treplace(\n\t\t\t\tstring(\n\t\t\t\t\titem()['Verificadores']\n\t\t\t\t),\n\t\t\t\t'[',\n\t\t\t\t''\n\t\t\t),\n\t\t\t']',\n\t\t\t''\n\t\t),\n\t\t'\",\"',\n\t\t', '\n\t),\n\t'\"',\n\t''\n)"}]}}},"metadata":{"operationMetadataId":"ac3bef65-5b95-4573-aca5-b010cd44d606"},"type":"Foreach"}},"metadata":{"operationMetadataId":"76539d8f-dece-4167-b879-2fecebf2d870"},"type":"Scope"}},"else":{"actions":{"Post_message_in_a_chat_or_channel_3-copy":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/recipient":"19:25493363903e415990da18d4bbbdae9d@thread.v2","body/messageBody":"<p class=\"editor-paragraph\">Não existem documentos em circulação interna.</p><br><p class=\"editor-paragraph\"><small>Mensagem enviada em <b>@{convertFromUtc(utcNow(),'E. South America Standard Time','dd-MM-yyyy HH:mm:ss tt')}</b>.</small></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-1","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@empty(variables('2 - Em Verificacao'))","@false"]}]},"type":"If"}},"type":"Scope"},"Notifica_Emitidos":{"actions":{"Apply_to_each_3":{"foreach":"@variables('5 - Concluido')","actions":{"Condition_-_Verifica_se_segunda-feira":{"actions":{"Condition_3-copy":{"actions":{"Append_to_array_variable_-_varEmitidos_1":{"type":"AppendToArrayVariable","inputs":{"name":"varEmitidos","value":"@items('Apply_to_each_3')"}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@formatDateTime(\r\n\titems('Apply_to_each_3')['DataEmissao'],\r\n\t'yyyy-MM-dd'\r\n)","@convertFromUtc(\r\n\taddDays(\r\n\t\tutcnow(),\r\n\t\t-3\r\n\t),\r\n\t'E. South America Standard Time',\r\n\t'yyyy-MM-dd'\r\n)"]}]},"type":"If"}},"else":{"actions":{"Condition_3":{"actions":{"Append_to_array_variable_-_varEmitidos":{"type":"AppendToArrayVariable","inputs":{"name":"varEmitidos","value":"@items('Apply_to_each_3')"}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@formatDateTime(\r\n\titems('Apply_to_each_3')['DataEmissao'],\r\n\t'yyyy-MM-dd'\r\n)\r\n","@convertFromUtc(\r\n\taddDays(\r\n\t\tutcnow(),\r\n\t\t-1\r\n\t),\r\n\t'E. South America Standard Time',\r\n\t'yyyy-MM-dd'\r\n)"]}]},"type":"If"}}},"expression":{"and":[{"equals":["@contains(\r\n\t'1',\r\n\tstring(\r\n\t\tdayOfWeek(\r\n\t\t\tutcNow()\r\n\t\t)\r\n\t)\r\n)","@true"]}]},"type":"If"}},"type":"Foreach"},"Condition_4":{"actions":{"Create_HTML_table-copy_3-copy":{"metadata":{"operationMetadataId":"75951b72-f1b6-4612-adba-13ac41316fde"},"type":"Table","inputs":{"from":"@variables('varEmitidos')","format":"HTML","columns":[{"header":"Documento","value":"@item()['Documento']"},{"header":"Data de Inicio da Verificação ","value":"@item()['DataInicio']"},{"header":"Data Limite da Verificação","value":"@item()['DataLimite']"},{"header":"Data de Emissão","value":"@replace(\n\treplace(\n\t\treplace(\n\t\t\treplace(\n\t\t\t\tstring(\n\t\t\t\t\titem()['DataEmissao']\n\t\t\t\t),\n\t\t\t\t'[',\n\t\t\t\t''\n\t\t\t),\n\t\t\t']',\n\t\t\t''\n\t\t),\n\t\t'\",\"',\n\t\t', '\n\t),\n\t'\"',\n\t''\n)"}]}},"Notifica_Documentos_Emitidos":{"runAfter":{"Create_HTML_table-copy_3-copy":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Group chat","body/recipient":"19:25493363903e415990da18d4bbbdae9d@thread.v2","body/messageBody":"<p class=\"editor-paragraph\">Resumo dos documentos emitidos em @{if(\r\n\tcontains(\r\n\t\t'1',\r\n\t\tstring(\r\n\t\t\tdayOfWeek(\r\n\t\t\t\tutcNow()\r\n\t\t\t)\r\n\t\t)\r\n\t),\r\n\tconvertFromUtc(\r\n\t\taddDays(utcnow(),-3),\r\n\t\t'E. South America Standard Time',\r\n\t\t'yyyy-MM-dd'\r\n\t),\r\n\tconvertFromUtc(\r\n\t\taddDays(utcnow(),-1),\r\n\t\t'E. South America Standard Time',\r\n\t\t'yyyy-MM-dd'\r\n\t)\r\n)}.\n\n@{body('Create_HTML_table-copy_3-copy')}\n\nPara mais detalhes, verifique nosso Planner no link a seguir: <a href=\"https://planner.cloud.microsoft/brassbrasil.com.br/Home/PlanViews/FwhsbC81F0KVV7TWQajqaWUAFn05?Type=PlanLink&amp;Channel=Link&amp;CreatedTime=638653824244770000\" class=\"editor-link\">Planner</a>.\n\nPara acessar os arquivos, verifique nosso Onedrive no link a seguir: <a href=\"https://brassbrasilprojetos.sharepoint.com/:f:/s/Sistemasdeutilidades/Eg6rIH-lx-RApODOYYs-RyUB04iaFw77z_bBM0BUv5Nw1w?e=GMyy5R\" class=\"editor-link\">Onedrive</a>.\n\n<small>Mensagem enviada em @{convertFromUtc(utcNow(),'E. South America Standard Time','dd-MM-yyyy HH:mm:ss tt')}</small></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_3":["Succeeded","TimedOut","Skipped","Failed"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@empty(variables('varEmitidos'))","@false"]}]},"type":"If"}},"type":"Scope"}},"else":{"actions":{"Apply_to_each_2":{"foreach":"@variables('Contador')","actions":{"Aplicar_a_cada_6":{"foreach":"@variables('2 - Em Verificacao')[items('Apply_to_each_2')]['Verificadores']","actions":{"Notifica_os_Verificadores":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('Aplicar_a_cada_6')","body/messageBody":"<p class=\"editor-paragraph\">Olá,<br><br>Poderia veriricar o documento @{variables('2 - Em Verificacao')[items('Apply_to_each_2')]['Documento']} em circulação interna no Elfa?<br>O fluxo foi iniciado em @{variables('2 - Em Verificacao')[items('Apply_to_each_2')]['DataInicio']} e temos a data limite de @{variables('2 - Em Verificacao')[items('Apply_to_each_2')]['DataLimite']} para finalizar a verificação.<br><br>Obrigado.</p><p class=\"editor-paragraph\"><br><a href=\"http://104.41.27.207:8030/ModuloGED/CicloVerificacaoInterna\" class=\"editor-link\"><u><span class=\"editor-text-underline\">Clique aqui para verificar.</span></u></a></p><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"metadata":{"operationMetadataId":"bf74c0cb-1534-4427-bda7-2e624fbd81de"},"type":"Foreach"},"Notifica_o_Planejador":{"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@variables('2 - Em Verificacao')[items('Apply_to_each_2')]['Planejador']","body/messageBody":"<p class=\"editor-paragraph\">Olá,<br><br>Poderia me ajudar a cobrar o time a verificação do documento @{variables('2 - Em Verificacao')[items('Apply_to_each_2')]['Documento']} em circulação interna no Elfa?<br>O fluxo foi iniciado em @{formatDateTime(variables('2 - Em Verificacao')[items('Apply_to_each_2')]['DataInicio'],'dd/MM/yyyy')} e temos a data limite de @{formatDateTime(variables('2 - Em Verificacao')[items('Apply_to_each_2')]['DataLimite'],'dd/MM/yyyy')} para finalizar a verificação.<br><br>Obrigado.</p><br><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p><br>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table-copy-copy":{"metadata":{"operationMetadataId":"53ddafd4-8df6-4905-8d28-e21b8bb546f8"},"type":"Table","inputs":{"from":"@variables('2 - Em Verificacao')[items('Apply_to_each_2')]['Verificadores']","format":"HTML","columns":[{"header":"Verificadores Pendentes","value":"@replace(\r\n\treplace(\r\n\t\treplace(\r\n\t\t\treplace(\r\n\t\t\t\tstring(\r\n\t\t\t\t\titem()\r\n\t\t\t\t),\r\n\t\t\t\t'[',\r\n\t\t\t\t''\r\n\t\t\t),\r\n\t\t\t']',\r\n\t\t\t''\r\n\t\t),\r\n\t\t'\",\"',\r\n\t\t', '\r\n\t),\r\n\t'\"',\r\n\t''\r\n)"}]}},"Notifica_o_Desenvolvedor":{"runAfter":{"Create_HTML_table-copy-copy":["Succeeded"]},"metadata":{"operationMetadataId":"55bb973d-a7d0-47a7-9634-aba8e8ca0d3e"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@variables('2 - Em Verificacao')[items('Apply_to_each_2')]['Desenvolvedor']","body/messageBody":"<p class=\"editor-paragraph\">Olá,<br><br>O documento @{variables('2 - Em Verificacao')[items('Apply_to_each_2')]['Documento']} que você desenvolveu está circulação interna no Elfa. Segue resumo das pessoas que ainda faltam verificar:<br><br>@{body('Create_HTML_table-copy-copy')}<br><br>A circulação iniciou em @{variables('2 - Em Verificacao')[items('Apply_to_each_2')]['DataInicio']} e tem a data limite para verificação é @{variables('2 - Em Verificacao')[items('Apply_to_each_2')]['DataLimite']}.<br>Essa mensagem é para somente atualizar o status do documento e não necessita de nenhuma resposta ou ação.<br><br>Obrigado.</p><br><p class=\"editor-paragraph\"><a href=\"https://teams.microsoft.com/l/chat/0/0?users=dboliveira@brassbrasil.com.br\" class=\"editor-link\"><u><span class=\"editor-text-underline\" style=\"color: rgb(65, 117, 5);\">Clique aqui para alinhamentos.</span></u></a></p><br>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-2","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"type":"Foreach"}}},"expression":{"and":[{"equals":["@empty(variables('Contador'))","@true"]}]},"metadata":{"operationMetadataId":"3c64396c-2a9c-430e-9158-bf1e45c45536"},"type":"If"}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@contains('12345', string(dayOfWeek(addHours(utcNow(), -3))))","@true"]}]},"metadata":{"operationMetadataId":"c35e2fdc-d704-462e-8af6-e905303492f4"},"type":"If"},"varDocumentos":{"runAfter":{"Contador":["Succeeded"]},"metadata":{"operationMetadataId":"9432a56d-116a-4647-8ff3-f2d56d8173de"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDocumentos","type":"array"}]}},"varDataInicio":{"runAfter":{"varDocumentos":["Succeeded"]},"metadata":{"operationMetadataId":"9900fded-0cb5-4100-a247-48f8f81b935c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDataInicio","type":"array"}]}},"varDataLimite":{"runAfter":{"varDataInicio":["Succeeded"]},"metadata":{"operationMetadataId":"964148f4-0cf5-44b2-9cb6-e2cfef6c7325"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDataLimite","type":"array"}]}},"varPlanejador":{"runAfter":{"varDataLimite":["Succeeded"]},"metadata":{"operationMetadataId":"cf227564-0366-408a-80db-2df263cdcb85"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPlanejador","type":"array"}]}},"varDesenvolvedor":{"runAfter":{"varPlanejador":["Succeeded"]},"metadata":{"operationMetadataId":"f752a1e0-84a0-4562-8f00-fc3843dd3143"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDesenvolvedor","type":"array"}]}},"Apply_to_each":{"foreach":"@variables('2 - Em Verificacao')","actions":{"Append_to_array_-_varDocumentos_":{"metadata":{"operationMetadataId":"bff88594-121d-40d5-9645-cfba29c18c82"},"type":"AppendToArrayVariable","inputs":{"name":"varDocumentos","value":"@items('Apply_to_each')['Documento']"}},"Append_to_array_variable_-_varDataInicio":{"runAfter":{"Append_to_array_-_varDocumentos_":["Succeeded"]},"metadata":{"operationMetadataId":"69dacdd5-a5e2-49ad-8d7b-ab7ece44c42f"},"type":"AppendToArrayVariable","inputs":{"name":"varDataInicio","value":"@items('Apply_to_each')['DataInicio']"}},"Append_to_array_variable_-_varDataLimite":{"runAfter":{"Append_to_array_variable_-_varDataInicio":["Succeeded"]},"metadata":{"operationMetadataId":"feadd391-3ea2-4696-833d-28982c688616"},"type":"AppendToArrayVariable","inputs":{"name":"varDataLimite","value":"@items('Apply_to_each')['DataLimite']"}},"Append_to_array_variable_-_varPlanejador":{"runAfter":{"Append_to_array_variable_-_varDataLimite":["Succeeded"]},"metadata":{"operationMetadataId":"b51322b9-0bfb-4b56-938c-7fb8833af9e7"},"type":"AppendToArrayVariable","inputs":{"name":"varPlanejador","value":"@items('Apply_to_each')['Planejador']"}},"Append_to_array_variable_-_varDesenvolvedor":{"runAfter":{"Append_to_array_variable_-_varPlanejador":["Succeeded"]},"metadata":{"operationMetadataId":"608fc68a-006e-4b63-8aa0-73099c1fd745"},"type":"AppendToArrayVariable","inputs":{"name":"varDesenvolvedor","value":"@items('Apply_to_each')['Desenvolvedor']"}},"Apply_to_each_1":{"foreach":"@items('Apply_to_each')['Verificadores']","actions":{"Append_to_array_variable_-_varVerificadores":{"metadata":{"operationMetadataId":"1c7948fa-7789-4260-ba5d-b0ebdb23be1f"},"type":"AppendToArrayVariable","inputs":{"name":"varVerificadores","value":"@items('Apply_to_each_1')"}}},"runAfter":{"Append_to_array_variable_-_varDesenvolvedor":["Succeeded"]},"metadata":{"operationMetadataId":"73cf47f5-86cb-42b7-ae3b-e221bf9ed731"},"type":"Foreach"}},"runAfter":{"varVerificadores":["Succeeded"]},"metadata":{"operationMetadataId":"77d578e4-cd9b-4073-965f-8d54101d8058"},"type":"Foreach"},"varVerificadores":{"runAfter":{"varDesenvolvedor":["Succeeded"]},"metadata":{"operationMetadataId":"7e99b3fc-897e-485c-b5d8-9fabd32ea1ea"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varVerificadores","type":"array"}]}},"varOutput":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"58c83100-66f4-445d-a5d1-15dedcce8f4f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varOutput","type":"array"}]}},"Compose":{"runAfter":{"varEmitidos":["Succeeded"]},"metadata":{"operationMetadataId":"a3579b0d-1783-4a36-89df-7e1bcc3e397a"},"type":"Compose","inputs":{"Documento":"@variables('varDocumentos')","DataInicio":"@variables('varDataInicio')","DataLimite":"@variables('varDataLimite')","Planejador":"@variables('varPlanejador')","Desenvolvedor":"@variables('varDesenvolvedor')","Verificadores":"@variables('varVerificadores')"}},"varVerificadoresUnion":{"runAfter":{"varOutput":["Succeeded"]},"metadata":{"operationMetadataId":"556d72b3-1e19-4d3d-b6a8-0540399706d6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varVerificadoresUnion","type":"array","value":"@union(variables('varVerificadores'),variables('varVerificadores'))"}]}},"varPlanejadoresUnion":{"runAfter":{"varVerificadoresUnion":["Succeeded"]},"metadata":{"operationMetadataId":"4391a9d3-7e97-4b62-bf5e-ac2acd2e4660"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPlanejadoresUnion","type":"array","value":"@union(variables('varPlanejador'),variables('varPlanejador'))"}]}},"varPlanejadoresTemp":{"runAfter":{"varPlanejadoresUnion":["Succeeded"]},"metadata":{"operationMetadataId":"23742c0d-fd8d-47f2-848e-f3e7b1aa343e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPlanejadoresTemp","type":"array"}]}},"varDesenvolvedoresUnion":{"runAfter":{"varPlanejadoresTemp":["Succeeded"]},"metadata":{"operationMetadataId":"decc35a2-3cc6-407a-a603-3b005273685e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDesenvolvedoresUnion","type":"array","value":"@union(variables('varDesenvolvedor'),variables('varDesenvolvedor'))"}]}},"varDesenvolvedoresTemp":{"runAfter":{"varDesenvolvedoresUnion":["Succeeded"]},"metadata":{"operationMetadataId":"5ecb2d81-14dd-4350-9910-4dd8eac2ecf5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDesenvolvedoresTemp","type":"array"}]}},"2_-_Em_Verificacao":{"runAfter":{},"metadata":{"operationMetadataId":"4ab43e12-616b-40c5-9c0f-e68ec496f28a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"2 - Em Verificacao","type":"array"}]}},"varEmitidos":{"runAfter":{"varDesenvolvedoresTemp":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varEmitidos","type":"array"}]}},"Build_\"2_-_Em_Verificacao\"_and_\"5_-_Concluido\"":{"actions":{"List_rows_present_in_a_table":{"runAfter":{"Get_tables":["Succeeded"]},"metadata":{"01RUBG6D4FJAWHWBBQ5JBJDCMDX7FV36HD":"/0-GERENCIAMENTO/Planejamento/Verificacao Interdisciplinar/StatusVerificacao.xlsx","tableId":"@outputs('Get_tables')?['body/value'][0]['id']"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY","file":"@outputs('Get_file_metadata')?['body/Id']","table":"@outputs('Get_tables')?['body/value'][0]['id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":2000}}},"Apply_to_each_4":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Se_a_linha_não_estiver_vazia":{"actions":{"DEBUG_0":{"type":"Compose","inputs":{"Documento":"@item()?['Documento']","DataInicio":"@concat(item()?['DataInicio'], 'T15:00:00Z')","DataLimite":"@concat(item()?['DataLimite'], 'T15:00:00Z')","DataEmissao":"@concat(item()?['DataEmissao'], 'T15:00:00Z')","Planejador":"@item()?['Planejador']","Desenvolvedor":"@item()?['Desenvolvedor']","Verificadores":"@split(item()?['Verificadores'],', ')"}},"Condition,_2_-_Em_Verificacao":{"actions":{"Append_to_array_variable":{"type":"AppendToArrayVariable","inputs":{"name":"2 - Em Verificacao","value":{"Documento":"@item()?['Documento']","DataInicio":"@concat(item()?['DataInicio'], 'T15:00:00Z')","DataLimite":"@concat(item()?['DataLimite'], 'T15:00:00Z')","DataEmissao":"@concat(item()?['DataEmissao'], 'T15:00:00Z')","Planejador":"@item()?['Planejador']","Desenvolvedor":"@item()?['Desenvolvedor']","Verificadores":"@split(\r\n\treplace(\t\r\n\t\treplace(\r\n\t\t\titem()?['Verificadores'],\r\n\t\t\t '\\n',\r\n\t\t\t ''\r\n\t\t),\r\n\t\t' ',\r\n\t\t''\r\n\t),\r\n\t','\r\n)"}}}},"runAfter":{"DEBUG_0":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@item()?['Bucket']","2 - Em Verificacao"]}]},"type":"If"},"Condition,_5_-_Concluido":{"actions":{"Append_to_array_variable_1":{"type":"AppendToArrayVariable","inputs":{"name":"5 - Concluido","value":{"Documento":"@item()?['Documento']","DataInicio":"@concat(item()?['DataInicio'], 'T15:00:00Z')","DataLimite":"@concat(item()?['DataLimite'], 'T15:00:00Z')","DataEmissao":"@concat(item()?['DataEmissao'], 'T15:00:00Z')","Planejador":"@item()?['Planejador']","Desenvolvedor":"@item()?['Desenvolvedor']","Verificadores":"@split(\r\n\treplace(\r\n\t\titem()?['Verificadores'],\r\n\t\t '\\n',\r\n\t\t ''\r\n\t),\r\n\t', '\r\n)"}}}},"runAfter":{"DEBUG_0":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"or":[{"equals":["@empty(item()?['Documento'])","@false"]},{"equals":["@empty(item()?['DataInicio'])","@false"]},{"equals":["@empty(item()?['DataLimite'])","@false"]},{"equals":["@empty(item()?['DataEmissao'])","@false"]},{"equals":["@empty(item()?['Planejador'])","@false"]},{"equals":["@empty(item()?['Desenvolvedor'])","@false"]},{"equals":["@empty(item()?['Verificadores'])","@false"]}]},{"equals":["@item()?['Bucket']","5 - Concluido"]}]},"type":"If"}},"else":{"actions":{}},"expression":{"and":[{"equals":["@empty(item()?['Documento'])","@false"]},{"equals":["@empty(item()?['DataInicio'])","@false"]},{"equals":["@empty(item()?['DataLimite'])","@false"]},{"equals":["@empty(item()?['DataEmissao'])","@false"]},{"equals":["@empty(item()?['Planejador'])","@false"]},{"equals":["@empty(item()?['Desenvolvedor'])","@false"]},{"equals":["@empty(item()?['Verificadores'])","@false"]}]},"type":"If"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach"},"Get_tables":{"runAfter":{"Get_file_metadata":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY","file":"@outputs('Get_file_metadata')?['body/Id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetTables"},"authentication":"@parameters('$authentication')"}},"Get_file_metadata":{"metadata":{"b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY.01RUBG6D3GA2YHBXMEGREY73PBP6QZM2XJ":"/0-GERENCIAMENTO/Planejamento/StatusVerificacao.xlsm","b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY.01RUBG6DZPPAOQAMFCDBGIVQLMQEMR2JMJ":"/0-GERENCIAMENTO/Planejamento/StatusVerificacao.xlsm"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"b!EPxXn3PHJkmm0DwFas1P2GiW2328nE1CkyE7JvTPA2GYNKq-0PGzR4PTZY0cyTeY.01RUBG6DZPPAOQAMFCDBGIVQLMQEMR2JMJ"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileMetadata"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"5_-_Concluido":["Succeeded"]},"type":"Scope"},"5_-_Concluido":{"runAfter":{"2.1_-_Em_Contribuicao":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"5 - Concluido","type":"array"}]}},"Compose_3":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Compose","inputs":"@variables('5 - Concluido')"},"Compose_2":{"runAfter":{"Build_\"2_-_Em_Verificacao\"_and_\"5_-_Concluido\"":["Succeeded"]},"type":"Compose","inputs":"@variables('2 - Em Verificacao')"},"2.1_-_Em_Contribuicao":{"runAfter":{"2_-_Em_Verificacao":["Succeeded"]},"metadata":{"operationMetadataId":"4ab43e12-616b-40c5-9c0f-e68ec496f28a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"2.1 - Em Contribuicao","type":"array"}]}}},"outputs":{},"description":"Fluxo para ler em uma planilha do excel quais os documentos em circulação e notificar os verificadores, os planejadores e os desenvolvedores."},"connectionReferences":{"shared_teams-1":{"connectionName":"shared-teams-d5ebffcb-3b47-49ff-a9e5-38d623286ebf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams-2":{"connectionName":"shared-teams-f9c96112-7ace-4028-99c0-5fd743a5541a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"c331046536804e49a75ab8386f08ca46","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_onedriveforbusiness":{"connectionName":"37c8c4598d834a4ba8a758a685f66aae","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}